 .navbar{
    background: #426F4F;
    height: 6rem;
    padding-left: 23%;
    padding-right: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   }

 .user{
    margin-left: auto;
}

.title__logo{
   margin: auto;
   color: #ffffff;
   font-size: 1.2rem;
}

.gerb{
   margin-right: 1%; 
}

.mns{
   margin-right: auto;
}