/*Block with */
.main{
    flex-grow: 1;
}

.blockLink{
    margin: 3% 23%;
    margin-bottom: 1%;
    background: #E08531;
    height: 32em;
    border-radius: 30px;
    position: relative;
}

.blockLineInside{
    position: absolute;
    width: 90%;
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Link{
    text-align: center;
    margin: 0;
    padding-top: 8%;
}

a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    padding-left: 3%;
}

.add{
    padding-left: 3%;
    width: 24px;
}

.LinkImg{
    width: 24px;
}


/*Phone book*/
.phoneList{
    margin-left: 23%;
    position: relative;
    margin-bottom: 1%;
}

.phoneNumb{
    padding-left: 2%;
    position: absolute;
    align-items: center;
    margin-bottom: 1%;
    font-size: 2.7rem;
}