.main{
    flex-grow: 1;
}

/*Search*/

.search{
    border-radius: 20px;
    margin: 1.3% 23%;
    margin-bottom: 1%;
    height: 3rem;
    background: #E9AA6F; 
    position: relative;
}


.searchItems{
    display: flex;
    position: absolute;
    margin: 0.6rem 1rem;
    color: rgba(0, 0, 0, 0.4);
    margin-right: auto;
    right: 2%;
}

.searchImg{
    width: 1.5rem;
    margin-left: 0.2rem;
}


/*Block with */

.blockLink{
    margin: 1.3% 23%;
    margin-bottom: 1%;
    background: #E9AA6F;
    height: 32em;
    border-radius: 20px;
    position: relative;
}

.blockLineInside{
    position: absolute;
    width: 90%;
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Link{
    margin: 0;
    padding-top: 8%;
}

.LinkService{
    font-size: 1.6rem;
    color: #000;
}

.add{
    padding-left: 2%;
    width: 1.8rem;
}

.LinkImg{
    width: 1.6rem;
}


/*Pagination*/

