/*Block with */
.main{
    flex-grow: 1;
}

.blockLink{
    margin: 3% 23%;
    margin-bottom: 1%;
    background: #E08531;
    height: 32em;
    border-radius: 30px;
    position: relative;
}

.blockLineInside{
    position: absolute;
    width: 90%;
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Link{
    text-align: center;
    margin: 0;
    padding-top: 8%;
}

.LinkService{
    font-size: 1.6rem;
    color: #000;
}

.add{
    padding-left: 2%;
    width: 1.8rem;
}

.LinkImg{
    width: 1.6rem;
}


/*Pagination*/

