.footer{
    flex-shrink: 0;
    background: hsl(29, 88%, 53%);
    width: 100%;
    color: #ffffff;
    padding: 0.5%;
}

.footerItems{
    display: grid;
    grid-template-areas: "Title generalNumberServices"
                         "Title generalMailServices";
    grid-template-columns: repeat(2, 1fr);

    margin: 0% 23%;
}

.Title{
    grid-area: Title;
    font-size: 1.2rem;
    text-align: left;
    margin: auto;

}

.generalNumberServices{
    display: flex;
    grid-area: generalNumberServices;
    margin-left: auto;
    align-items: center;
    font-size: 1.3rem;
}

.generalMailServices{
    display: flex;
    grid-area: generalMailServices;
    margin-left: auto;
    align-items: center;    
    font-size: 1.3rem;
}

.numberServices{
    padding-right: 0.3rem;
}

.mailServices{
    padding-right: 0.3rem;
}